<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  <script src="https://cdn.tailwindcss.com?plugins=typography,aspect-ratio,line-clamp"></script>
</head>
<body>
  <div class="flex justify-center mt-40">
    <h1 class="text-blue-400 text-6xl font-bold font-sans tracking-[0.2em]">
      FORM HANDLING
    </h1>
  </div>
  <div class="h-screen w-screen flex flex-col items-center mt-4 space-y-4">
    <h1 class="text-l font-light tracking-[0.3em]">Simple Form to explore the HTMX</h1>
    <div class="space-y-4 w-60">
      <input class="p-2 border border-gray-600 text-gray-600 active:outline-none hover:outline-none " type="text" name="username" placeholder="name">
      <input class="p-2 border border-gray-600 text-gray-600 active:outline-none hover:outline-none" type="email" name="email" placeholder="email">
      <input class="p-2 border border-gray-600 text-gray-600 active:outline-none hover:outline-none"  type="tel" name="phone" placeholder="phone number">
      
      <div class="border border-gray-600 focus:ring focus:ring-blue-300 flex w-[220px]">
      <input type="password" id="password"
    placeholder="Password"
    class="p-2 w-[90%] border-none outline-none hover:border-none hover:outline-none active:border-none active:outline-none"
  />
  <button
    id="togglePassword"
    class="focus:outline-none"
    data-hx-trigger="click"
    data-hx-get="/togglePassword"
  >
    <i
      id="eyeIcon"
      class="fas fa-eye text-gray-600 hover:text-blue-500 cursor-pointer"
      data-hx-target="#password"
      data-hx-swap="innerHTML"
      data-hx-get="/showIcon"
    ></i>
  </button>
    </div> 
      <button class="ml-14 bg-black py-2 px-10 text-white active:bg-gray-800 hover:bg-gray-700">sign up</button>
    </div>
  </div>
</body>
</html>
